<h2>ローカルの変更を本番環境のアプリケーションに適用する</h2>
<p>
  １．cd gardening</br>
  ２．ファイルを編集・保存、gitにpushしてctrl+C</br>
  ３．ssh -i ~/.ssh/practice-aws.pem ec2-user@*****</br>
  ４．cd gardening2/</br>
  ５．git pull origin main</br>
  ６．sudo yum update（必要に応じて）</br>
  ７．sudo kill $(cat tmp/pids/puma.pid)</br>
  ８．rails s -e productionで</br>
</p>

<h2>ドメインの取得</h2>
<p>
  １．「お名前.com」で適当なドメインを作成
</p>

<h2>ドメイン及びEIPの設定</h2>
<p>
  １．EC2→Elastic IPを作成「Elastic IPを割り当てる」
  ２．「Elastic IPアドレスの関連付け」→インスタンスをポートフォリオ（EC2)に、プライベートIPアドレスを172.~に設定
  ３．Route53→ダッシュボードから「ホストゾーン」→ドメイン名(oniwanotomo)選択→Aレコード選択→右サイドバー「編集」→値を新しいEIPに書き換え
  ４．EC2インスタンス起動
  ５．cloud9でポートフォリオ実行
</p>
<h2>同・解除方法</h2>
<p>
  １．
  ２．
  ３．
</p>