<h2>ローカルの変更を本番環境のアプリケーションに適用する</h2>
<p>
  １．cd gardening</br>
  ２．ファイルを編集・保存、gitにpushしてctrl+C</br>
  ３．ssh -i ~/.ssh/practice-aws.pem ec2-user@*****</br>
  ４．cd gardening2/</br>
  ５．git pull origin main</br>
  ６．sudo yum update（必要に応じて）</br>
  ７．sudo kill $(cat tmp/pids/puma.pid)</br>
  ８．rails s -e productionで</br>
</p>

<h2>ドメインの取得</h2>