<h1>会員一覧</h1>
<% @users.each do |user| %>
<table>
  <tr>
    <td>サムネ画像</td>
    <td>
      <%= link_to user_path(user.id) do %>
        <%= user.nickname %>
      <%end%>
    </td>
    <td>自己紹介文</td>
  </tr>
</table>
<%end%>